/* color*/
:root {
    --main-color: #D6377F;
    --hover-color: #E61053;
    --bg-color: #151A25;
    --grey-text-color:#A6A6A6;
}
  /* font-face */
@font-face {
  font-family: 'Satoshi';
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Light.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Light.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Light.ttf') format('truetype');
         
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-LightItalic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-LightItalic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-LightItalic.ttf') format('truetype');
         
}  
@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Regular.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Regular.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-Italic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Italic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Medium.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Medium.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi'; 
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-MediumItalic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-MediumItalic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-MediumItalic.ttf') format('truetype');
}  
@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Bold.ttf') format('truetype');
}  
@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-BoldItalic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-BoldItalic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi/Satoshi-Black.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Black.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi'; 
  font-weight: 900;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-BlackItalic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-BlackItalic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-BlackItalic.ttf') format('truetype');        
}
  /* end font-face */
body{
    background-color: var(--bg-color);
    color: #FFFFFF;
    font-family: 'Satoshi';
    padding-top: 20px;
    padding-bottom: 28px;
  }
div[class$='container']{
    max-width: 1320px;
    margin: auto;
}
.section-white{
  background: #fff;
  color:var(--grey-text-color)
}
.section-white h2{
  color:#151A25;
}
.grey-text{
  color:var(--grey-text-color);
}
h1{
  font-size: 5.3125rem;
  line-height: 7.1875rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(135deg, #5EFCE8 0%, #736EFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:#67C1F2;
  background-clip: text;
}
h2{
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -0.03em;
}
.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.menu_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;
}
.header__right{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.menu__link{
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
}
.menu__link:hover{
  color:var(--grey-text-color);

}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.logo__text{  
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}
.logo__text span{
  font-weight: 900;
}
.logo__img img{
  width: 3.4375rem;
  height: 3.75rem;
}
.button{
  display: inline-block;
  border-radius: 5px;
  padding: 0.75rem 1.125rem;  
  border: 1px solid var(--main-color);
  color: #363636;
  cursor: pointer;
}
.button__link{
  display: block;
  font-weight: 600;
  letter-spacing: 0.01em;
}
.button:hover{
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
}
.button:active{
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
}
.button_pink{
  background-color: var(--main-color);
  color: #fff;  
  border: 1px solid var(--main-color);
}
.button_pink:hover, .button_pink:active{
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
}
.buttom_ticket .button__link{
  padding-left: 2.125rem;
  background: url("../images/tiket-ico.svg") no-repeat 0px center;
}
.top-block{
  background: url("../images/top-block-bg-3.png") no-repeat 89.2% 66.8%;
}
.top-block__container{
  background: url("../images/top-block-bg-1.png") no-repeat 55px 44.6%,
              url("../images/top-block-bg-2.png") no-repeat 97.6% 34.5%;
}
.top-block__container{
  padding: 82px 0 50px;
}
.top-block__container p{
  text-align: center;
  margin: 0.5rem auto 0;
  max-width: 850px;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.top-block__container p.top-block__date{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  margin-top: 1.5rem;
}
.top-block__container p.top-block__place{
  margin-top: 0;
}
.button-circle{
  width: 60px;
  margin: auto;
  background: url("../images/ellipse.svg") no-repeat 0px center;
}
.top-block .button-circle{  
  margin-top: 64px;
}
.button-circle__link{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.button-circle__link_down{
  background: url("../images/down.svg") no-repeat center;
}
.button-circle__link_down:hover, .button-circle__link_down:active{
  background: url("../images/down-hover.svg") no-repeat center;
}
.meet-and-learn{
  background: url("../images/meet-learn-bg.jpg") no-repeat top center;
  background-size: cover;
}
.meet-and-learn__container{
  padding-left: 196px;
  padding-top: 125px;
  padding-bottom: 35px;
}
.meet-and-learn h2{
  max-width: 40.125rem;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  letter-spacing: normal;
}
.feature-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.feature-list__item{
  width: 298px;
  height: 169px;
  background: rgba(21, 26, 37, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
div[class^="feature-list__ico"]{
  min-height:24px;
  width: 30px;
}
.feature-list__ico_speakers{
  background: url("../images/ico-microphone.svg") no-repeat center;
}
.feature-list__ico_sessions{
  background: url("../images/ico-session.svg") no-repeat center;
}
.feature-list__ico_days{
  background: url("../images/ico-calendar.svg") no-repeat center;
}
.feature-list__item p{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}
.schedule{
  padding-top:90px;
  padding-bottom:80px;
}
.schedule__row{
  background: url(../images/elem-01.png) no-repeat 57px 24px;
  max-width: 1140px;
  margin: auto;
  margin-bottom: 72px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.schedule__row h2{
  margin-left: 142px;
}
.schedule__days{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.schedule__day{
  border: 0.5px solid #C1C1C1;
  border-radius: 5px;
  cursor: pointer;
  color: #0C0C0C;
  width: 91px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.schedule__day:hover{
  background: #eeeeee;
}
.schedule__day.active, .schedule__day:active{  
  background: #151A25;  
  border-bottom: 2px solid #E0E0E0;
  font-weight: 700;
  color: #FFFFFF;
}
.schedule__day.active{
  cursor: default;
}
.schedule__events{
  max-width: 1140px;
  margin: auto;
}
.events-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.schedule__event{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 26px;
  position: relative;
}
.schedule__event::before{
  content:"";
  width: 10px;
  height: 8px;
  border-radius: 10px;
  background-color: #676767;
}
.schedule__event::after{
  content:"";
  width: 2px;
  height: calc(100% - 50px + 1rem);
  position: absolute;
  left: 4px;
  top:calc(50% + 25px);
  background-color: #676767;
}
.schedule__event:last-child::after{
  content:none;
}
.schedule__event-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background: #FFFFFF;
  border: 0.5px solid #D0D0D0;
  border-radius: 10px;
}
.schedule__time{
  width: 6rem;
  letter-spacing: -0.03em;
  font-weight: 700;
  color: #676767;
  text-transform: uppercase;
}
.schedule__event-title{
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
  margin-bottom: 10px;
}
.schedule__event-decs{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 24px;
  color: #676767;
  margin-bottom: 14px;
}
.schedule__event-time{
  text-transform: uppercase;
  padding-left:23px;
  line-height: 1.5rem;
  background: url(../images/ico-clock.svg) no-repeat left center;
}
.schedule__event-place{
  padding-left:23px;
  line-height: 1.5rem;
  background: url(../images/ico-place.svg) no-repeat left center;
}
.schedule__event-avatars{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.schedule__event-avatar{
  margin-left: -14px;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
