/* color*/
:root {
    --main-color: #D6377F;
    --hover-color: #E61053;
    --bg-color: #151A25;
    --secondary-text-color:#A6A6A6;
}
  /* font-face */
@font-face {
  font-family: 'Satoshi';
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Light.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Light.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Light.ttf') format('truetype');
         
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-LightItalic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-LightItalic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-LightItalic.ttf') format('truetype');
         
}  
@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Regular.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Regular.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-Italic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Italic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Medium.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Medium.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi'; 
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-MediumItalic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-MediumItalic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-MediumItalic.ttf') format('truetype');
}  
@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Bold.ttf') format('truetype');
}  
@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-BoldItalic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-BoldItalic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi/Satoshi-Black.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-Black.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi'; 
  font-weight: 900;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Satoshi/Satoshi-BlackItalic.woff2') format('woff2'),
       url('../fonts/Satoshi/Satoshi-BlackItalic.woff') format('woff'),
       url('../fonts/Satoshi/Satoshi-BlackItalic.ttf') format('truetype');        
}
  /* end font-face */
body{
    background-color: var(--bg-color);
    color: #FFFFFF;
    font-family: 'Satoshi';
    padding-top: 20px;
    padding-bottom: 28px;
  }
div[class$='-container']{
    max-width: 1320px;
    margin: auto;
}
.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.menu_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
.header-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.menu__link{
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
}
.menu__link:hover{
  color:var(--secondary-text-color);

}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.logo__text{  
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}
.logo__text span{
  font-weight: 900;
}
.logo__img img{
  width: 55px;
  height: 60px;
}
.button{
  border-radius: 5px;
  padding: 14px 20px;
  cursor: pointer;
}
.button__link{
  display: block;
  font-weight: 600;
  letter-spacing: 0.01em;
}
.button-pink{
  background-color: var(--main-color);
}
.button-pink:hover{
  background-color: var(--hover-color);
}
.buttom-ticket .button__link{
  padding-left: 34px;
  background: url("../images/tiket-ico.svg") no-repeat 0px center;
}